.dirList {
    list-style: none;
    padding: 0 0 0 1em;
    cursor: pointer;

    .itemRow {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .navi {
            width: 1em;
        }

        .dirName {
            flex-grow: 1;
            min-height: 24px;

            &:hover,
            &.selected {
                background-color: antiquewhite;
            }
        }
    }
}

.hide {
    display: none;
}