.dirList {
    list-style: none;
    padding: 0 0 0 1em;
    cursor: pointer;

    .itemRow {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .dirName {
            &:hover {
                background-color: antiquewhite;
            }
        }
    }
}

.hide {
    display: none;
}